#main{
    width: 50%;
    margin: auto;
}

#filters{
    width: 25%;
    margin: auto;
}

input{
    width: 100%;
    margin: auto;
}

#button{
    display: block;
    width: 50px;
    margin: 10px auto;
}

.text{
    margin-top: 10px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
    margin: auto;
}
th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
td {
    padding: 5px;
    border: 1px solid black;
}
#searchLabel{
    font-size: 30px;
    width:100px;
    margin: auto;
}